.wrapper_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 30px;
    align-items: center;
    gap: 15px;
}

.profilePic {
    max-height: 150px;
    max-width: 150px;
    
}
.img_wrapper {
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 5px;
    
}

.editIcon {
    font-size: 15px;
}
.editIcon:hover {
    cursor: pointer;
}

.field_name {
    margin-right: 10px;
    font-weight: bold;
}

.link_wrapper {
    padding: 15px;

}
.link {
    text-decoration: none;
    color: silver;
    font-weight: 400;
    font-size: 20px;
    
}
.link:hover {
    cursor: pointer;
}


.editBtn {
    background-color: orange;
    border: none;
    border-radius: 60px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}
.editBtn:hover {
    cursor: pointer;
}