.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: orange;
    height: 40px;
}

.copyrigth {
    font-size: 30px;
    
}
.copyright_text {
    margin-left: 5px;
}